.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.P{
  text-align: center;
}
h4{
  padding-top:30px;
}
h3{
  padding-top:30px;
}
p{
  text-align: justify;
}
.App-link {
  color: #61dafb;
}
.in-active{
  display: none;
}
.is-active{
  display: inline;
}
.map{
  padding: 10px;
  left:-25%;
}
.con{
  text-align: center;
}
.card-img-top{
height: 280px;
}
/* .carousel {
  position: absolute;
  max-width:900px;
  max-height:500px;
  margin: auto;
}
.d-block w-100{
  position: absolute;
  max-height:200px;
  max-width:200px;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapboxgl-marker{
position: unset !important
}
Marker{
  style:red bold;
}